.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
DABOM_results/Branch_Model_Estimates_09_15
STADEM_results/old_runs_04_2016
STADEM_results/LGR_STADEM_Chinook_2010.rda
STADEM_results/LGR_STADEM_Chinook_2011.rda
STADEM_results/LGR_STADEM_Chinook_2012.rda
STADEM_results/LGR_STADEM_Chinook_2013.rda
STADEM_results/LGR_STADEM_Chinook_2014.rda
STADEM_results/LGR_STADEM_Chinook_2015.rda
STADEM_results/LGR_STADEM_Steelhead_2010.rda
STADEM_results/LGR_STADEM_Steelhead_2011.rda
STADEM_results/LGR_STADEM_Steelhead_2012.rda
STADEM_results/LGR_STADEM_Steelhead_2013.rda
STADEM_results/LGR_STADEM_Steelhead_2014.rda
STADEM_results/LGR_STADEM_Steelhead_2015.rda
DABOM_estimates/
Document/