.Rproj.user
.Rhistory
.RData
.Ruserdata

data/PreppedData
data/LGTrappingExportJodyW.accdb
data/tblLGDMasterCombineExportJodyW.csv

DABOM_results/Branch_Model_Estimates_09_15
STADEM_results/old_runs_04_2016
DABOM_estimates/

Document/